html,
body {
  padding: 7%;
  margin: 0;
  font-family: -apple-system, monospace, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  background-color: black;
  color: chartreuse;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.choice {
  padding: 1%;
}

.selected {
  background-color: chartreuse;
  color: black;
}
