@font-face {
  font-family: "Classic Console";
  font-style: normal;
  font-weight: 400;
  src: local("Classic Console"), local("ClassicConsole"),
    url("./fonts/clacon.ttf");
}

html,
body {
  padding: 4%;
  margin: 0;
  font-family: "Classic Console", monospace;
  background-color: black;
  color: chartreuse;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text {
  padding: 0 0 0 1%;
}

.activeChoice {
  padding: 1%;
  border: 1px solid black;
}

.inActiveChoice {
  padding: 1%;
  color: green;
  border: 1px solid black;
}

.textLine {
  min-height: 16px;
}

.lastLine {
  padding: 0 0 0 0.9%;
}

.currentLine {
  padding: 0 0 0 1%;
}

.displayCarat {
  float: left;
}

.landingArt {
  max-width: 60%;
  margin: 6% 0 0 13%;
}

.versionNumber {
  float: right;
}
